<launch>

<node name= "map_server" pkg="map_server" type="map_server" args="/home/suturo/maps/map-2017-11-ease-demo.yaml"/>	
  <!-- <include file="$(find pr2_machine)/$(env ROBOT).machine" /> -->
  <!-- <include file="/home/gaya/amcl_node.xml" /> -->
  <!-- <include file="$(find pr2_navigation_teleop)/teleop.xml" /> -->
  <!-- <include file="$(find pr2_navigation_perception)/lasers_and_filters.xml" /> -->
  <!-- <include file="$(find pr2_navigation_perception)/ground_plane.xml" /> -->

</launch>
