
suturo_ws/logs/

suturo_ws/devel/

suturo_ws/build/

suturo_ws/\.catkin_tools/

suturo_ws/src/actionlib/

suturo_ws/src/cram/

suturo_ws/src/cram_intermediate_tutorial/

suturo_ws/src/iai_common_msgs/

suturo_ws/src/iai_maps/

suturo_ws/src/knowrob/

suturo_ws/src/moveit_msgs/

suturo_ws/src/pr2_controller_msgs/

suturo_ws/src/pr2_kinematics/

suturo_ws/src/roslisp/

suturo_ws/src/roslisp_common/

suturo_ws/src/simple_head/

suturo_ws/src/suturo_msgs/

suturo_ws/src/vision_test/

suturo_ws/src/\.rosinstall

suturo_ws/src/\.rosinstall\.bak
