logs/
devel/
build/
.catkin_tools
actionlib/
cram/
cram_intermediate_tutorial/
iai_common_msgs/
iai_maps/
knowrob/
moveit_msgs/
pr2_controller_msgs/
pr2_kinematics/
roslisp/
roslisp_common/
simple_head/
suturo_msgs/
vision_test/
\.rosinstall
\.rosinstall\.bak
